@import 'modules/variables';

* {
    margin: 0;
    padding: 0;
    font-family: $bodyFont;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

i:hover {
    cursor: pointer;
}

#plain-daisy {
    position: absolute;
    top: 9px;
    left: 19px;
    z-index: 30;
    height: 76px;
}

#name-badge {
    display: none;
}

#banner {
    display: none;
}

#header {
    height: 98px;
    font-size: 20px;
    font-family: --fancyFont;
    border-bottom: 2px solid black;
    z-index: 20;
    display: flex;

    #name-tag {
        margin: 18px 0 0 115px;
        width: 45%;

        li {
            font-size: 20px;
            font-family: $fancyFont;
            list-style: none;
        }
    }

    #site-nav {
        display: none;
        line-height: 129px;
        background-color: white;
        border-top: 2px solid black;
        padding-top: 200px;

        ul {
            margin: auto;
            text-align: center;
            font-size: 35px;
            width: 156px;

            .list-item {
                list-style: none;
                line-height: 35px;
                margin-bottom: 50px;
            }

            .list-item:hover {
                cursor: pointer;
                color: #6F2A41;
                font-size: 38px;
                transition: .3s;
            }

            #cta {
                background-color: $lgreen;
                padding: 14px;
                border-radius: 8px;
                border: 1px solid $purple;
            }

            #cta:hover {
                font-size: 35px;
                background-color: white;
            }
        }
    }

    #site-nav.open {
        display: block;
        position: absolute;
        background-color: $lpurple;
        z-index: 999;
        height: 100%;
        width: 100%;

        #exit {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    i {
        font-size: 50px;
        line-height: 98px;
        float: right;
        margin-right: 19px;
        width: 5%;
    }
}

#hero-container {
    background-color: $lpurple;
    height: 730px;
    position: relative;
    overflow: hidden;

    #one {
        background-color: $lpurple;
        display: table;

        #text-box {
            display: table-cell;
            vertical-align: middle;
            width: 80%;
            padding-left: 20px;

            h1 {
                font-size: 18px;
                font-weight: 500;
                width: 305px;
                margin-top: 112px;
            }

            p {
                font-size: 14px;
                width: 309px;
                margin-top: 12px;
            }
        }

        #left-mob-blob {
            display: none;
        }
    }

    #two {

        #mob-blob-2 {
            display: none;
        }

        #mob-blob {
            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;
        }

        #small-daisy {
            display: none;
        }

        #big-daisy {
            height: 464px;
            position: absolute;
            bottom: -55px;
            left: -38px;
            z-index: 10;
        }

        #me {
            height: 388px;
            position: absolute;
            bottom: 0;
            right: 19px;
            z-index: 20;
        }
    }
}

#about-container {
    height: 625px;
    background-color: $lgreen;
    border-bottom: 2px solid black;
    position: relative;

    #about-blob {
        height: 530px;
        position: absolute;
        z-index: 10;
        top: 50px;
        left: -60px;
    }

    #about-text {
        position: absolute;
        z-index: 30;
        top: 158px;
        left: 27px;
        width: 84%;
        text-align: center;
    }
}

#portfolio-container {
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 19px;
    background-color: $lpurple;

    .project-container {
        height: 206px;
        width: 330px;
        background-color: $lgreen;
        border: 1px solid $green;
        box-shadow: 4px 4px 5px 1px #EBB2E8;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 43px;

        img {
            width: 94%;
            height: 80%;
            object-fit: cover;
            top: 0;
            padding: 10px 10px 0 10px;
            border-radius: 18px;
        }

        #powershop {
            width: 59%;
            padding-left: 104px;

        }

        h3 {
            font-size: $bodyFont;
            font-size: 15px;
            color: #A740A3;
            height: 10%;
            text-align: center;
        }

        i {
            line-height: 15px;
            font-size: 12px;
            margin-left: 5px;
        }
    }
}

footer {
    height: 162px;
    text-align: center;
    width: 100vw;

    h3 {
        font-size: 25px;
        margin: 22px 0 13px 0;
    }

    #email {
        font-size: 15px;
        margin-bottom: 19px;
    }

    #external-link {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        p {
            display: none;
        }

        i {
            font-size: 25px;
            padding: 0 15px 0 8px;
            color: black;
            transition: .4s;
        }

        i:hover {
            color: $purple;
        }
    }

    #copyright {
        font-size: 10px;
        vertical-align: bottom;
    }
}


@media only screen and (min-width: 768px) {

    #plain-daisy {
        display: none;
    }

    #name-badge {
        display: block;
        position: absolute;
        z-index: 20;
        top: 42px;
        left: 37px;

        img {
            height: 200px;
        }
    }

    #banner {
        display: block;
        width: 100vw;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: $lpurple;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0;
    }

    .banner-content {
        font-size: 18px;
        display: block;
        width: 130%;
        transform: translateX(100%);
        animation: move 30s linear infinite;
    }

    @keyframes move {
        to {
            transform: translateX(-100%);
        }
    }

    #header {
        height: 117px;
        display: inherit;

        #name-tag {
            display: none;
        }

        #site-nav {
            padding-top: 240px;

            ul {
                font-size: 46px;
                width: 195px;

                .list-item {
                    line-height: 46px;
                    margin-bottom: 85px;
                }

                .list-item:hover {
                    font-size: 50px;
                }


                #cta:hover {
                    font-size: 46px;
                }
            }
        }

        #site-nav.open {
            height: 140vh;
        }

        i {
            font-size: 70px;
            line-height: 0;
            margin-top: 38px;
            margin-right: 30px;
        }
    }

    #hero-container {
        border-bottom: 1px solid black;
        height: 98vh;
        width: 100vw;

        #one {

            #text-box {
                border: none;
                padding-left: 58px;

                h1 {
                    font-size: 40px;
                    width: 680px;
                    margin-top: 214px;
                }

                p {
                    font-size: 24px;
                    width: 585px;
                }
            }
        }

        #two {

            #mob-blob-2 {
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            #mob-blob {
                width: 400px;
            }

            #big-daisy {
                height: 505px;
                left: 470px;
                bottom: 0;
            }

            #me {
                height: 545px;
                right: 45px;
            }
        }
    }

    #about-container {
        height: 944px;

        #about-blob {
            height: 743px;
            top: 128px;
            left: 48px;
        }

        #about-text {
            top: 296px;
            left: 142px;
            width: 64%;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 22px;
            }
        }
    }

    #portfolio-container {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 135px;
    }

    footer {
        height: 162px;
        text-align: inherit;
        display: flex;
        flex-wrap: wrap;

        #contact-deets {
            padding: 40px 0 0 59px;
            width: 42%;

            h3 {
                font-size: 24px;
            }

            #email {
                font-size: 18px;
            }
        }

        #external-link {
            padding: 61px 59px 0 0;
            margin-bottom: 0;
            width: 42%;
            justify-content: end;
        }

        #copyright {
            padding-top: 10px;
            text-align: center;
            width: 100%;
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 1024px) and (min-height: 700px) and (max-height: 874px) {
    #hero-container {
        height: 130vh;
    }
}

@media only screen and (min-width: 1024px) {
    #name-badge {
        top: 52px;
        left: 40px;
    }

    #banner {
        height: 30px;
    }

    .banner-content {
        position: inherit;
        font-size: 22px;
        width: 115%;
    }

    #header {
        height: 110px;
        margin-top: 40px;

        #site-nav {
            display: block;
            padding: 0;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin: 0;
                font-size: 35px;
                width: 100vw;

                .list-item {
                    list-style: none;
                    line-height: 35px;
                    margin-bottom: 0;
                    margin-top: 22px;
                    padding: 14px;
                }

                .list-item:hover {
                    font-size: 35px;
                }


                #cta:hover {
                    font-size: 35px;
                }

                #cta {
                    margin: 22px 55px 0 25px;
                }
            }
        }

        i {
            display: none;
        }
    }

    #hero-container {

        #one #text-box {
            padding-left: 78px;
        }

        #two {
            background-color: $lpurple;

            #big-daisy {
                left: 511px;
            }
        }
    }

    #about-container {
        height: 944px;

        #about-blob {
            height: 743px;
            top: 128px;
            left: 180px;
        }

        #about-text {
            top: 296px;
            left: 282px;
            width: 46%;
        }
    }

    #portfolio-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 120px 50px 0 50px;

        .project-container {
            height: 306px;
            width: 400px;
        }
    }

    footer {

        #contact-deets {
            padding: 40px 0 0 80px;
            width: 42%;

            h3 {
                font-size: 28px;
            }

            #email {
                font-size: 20px;
            }
        }

        #external-link {
            padding: 66px 80px 0 0;

            p {
                display: contents;
            }

            a {
                text-decoration: none;
                color: black;
                transition: .4s;
            }

            a:hover {
                color: $purple;
            }
        }

        #copyright {
            padding-top: 14px;
        }
    }
}

@media only screen and (min-width: 1366px) {
    #name-badge img {
        height: 198px;
    }

    #header {
        height: 100px;
        margin-top: 40px;

        #site-nav {
            display: block;
            padding: 0;

            ul {
                font-size: 30px;

                .list-item {
                    line-height: 27px;
                    ;
                }
            }
        }
    }

    #hero-container {
        height: 86vh;
        display: flex;

        #one {
            width: 50%;
            position: relative;
            border-right: 1px solid black;

            #text-box {
                display: block;
                padding-left: 0;
                margin-left: 50px;

                h1 {
                    font-size: 30px;
                    margin-top: 180px;
                    width: 510px;
                }

                p {
                    font-size: 20px;
                    width: 510px;
                }
            }

            #left-mob-blob {
                display: block;
                position: absolute;
                height: 325px;
                bottom: 0;
                left: -15px;
            }
        }

        #two {
            width: 50%;
            background-color: $lgreen;
            position: relative;

            #small-daisy {
                display: block;
                height: 265.77px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
            }

            #mob-blob {
                display: none;
            }

            #me {
                height: 600px;
            }

            #mob-blob-2 {
                display: none;
            }

            #big-daisy {
                height: 500px;
                left: 280px;
                bottom: 72px;
            }
        }
    }

    #about-container {
        height: 944px;

        #about-blob {
            height: 800px;
            top: 72px;
            left: 348px;
        }

        #about-text {
            top: 272px;
            left: 348px;
            margin-left: 130px;
            width: 470px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 22px;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    #hero-container #one #left-mob-blob {
        bottom: -115px;
    }

    #hero-container #two #big-daisy {
        bottom: -36px;
    }

    #hero-container #two #me {
        height: 520px;
    }

    #about-container {
        #about-blob {
            left: 392px;
        }

        #about-text {
            left: 392px;
        }
    }
}

@media only screen and (min-width: 1920px) {

    #hero-container {
        height: 97vh;
        display: flex;

        #one {
            width: 50%;
            position: relative;
            border-right: 1px solid black;

            #text-box {
                display: block;
                padding-left: 0;
                margin-left: 154px;

                h1 {
                    font-size: 42px;
                    margin-top: 237px;
                    width: 714px;
                }

                p {
                    font-size: 24px;
                }
            }

            #left-mob-blob {
                display: block;
                position: absolute;
                height: 405px;
                left: -5px;
            }
        }

        #two {
            width: 50%;
            background-color: $lgreen;
            position: relative;

            #small-daisy {
                display: block;
                height: 314px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
            }

            #me {
                height: 736px;
            }

            #big-daisy {
                height: 686px;
                left: 405px;
                bottom: 170px;
            }
        }
    }

    #about-container {
        height: 944px;

        #about-blob {
            height: 800px;
            top: 72px;
            left: 604px;
        }

        #about-text {
            left: 604px;
            margin-left: 130px;
        }
    }
}