@import 'modules/variables';

* {
    margin: 0;
    padding: 0;
    font-family: $bodyFont;
}

#name-badge {
    height: 356.16px;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 30;
}

#header {
    height: 161px;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 2px solid black;
    z-index: 20;

    #banner {
        height: 30px;
        background-color: $lpurple;
    }

    #site-nav {
        height: 129px;
        background-color: white;
        padding: 0 128px;
        border-top: 2px solid black;

        ul {
            display: flex;
            float: right;
            line-height: 131px;

            .list-item {
                list-style: none;
                margin-left: 100px;

                #cta {
                    background-color: $green;
                    font-family: $bodyFont;
                    font-size: 32px;
                    font-weight: 500;
                    border-radius: 8px;
                    height: 46px;
                    width: 139px;
                    border: 1px solid $purple;
                }
            }
        }
    }
}

#hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid black;
    height: 919px;

    #one {
        border-right: 2px solid black;
        background-color: $lpurple;
        display: table;

        #text-box {
            display: table-cell;
            vertical-align: middle;


            h1 {
                font-weight: 400;
                font-size: 40px;
                width: 652px;
                margin: auto;
            }

            p {
                font-size: 24px;
                width: 652px;
                margin: auto;
                margin-top: 29px;
            }
        }
    }

    #two {
        background-color: $lgreen;

        #me {
            height: 736px;
            position: absolute;
            top: 347px;
            right: 86px;
            z-index: 20;
        }

        #small-daisy {
            height: 265.77px;
            position: absolute;
            top: 163px;
            right: 677px;
            z-index: 5;
        }

        #big-daisy {
            height: 736px;
            position: absolute;
            top: 254px;
            right: 0px;
            z-index: 10;
        }
    }
}